<div class="header-container">
    <div class="header">
        <a href="/"><img class="logo" src="/asset/images/logo.svg"></a>
        <span class="navi">
            <a href="/">HOME</a>
            <a href="/news-index">NEWS</a>
            <a href="/students">STUDENTS</a>
            <!--a href="/stages">STAGES</a-->
            <!--a href="/about">ABOUT</a-->
        </span>
        <button class="menu-button" onclick="onMenuButtonClick()"></button>
    </div>
</div>
<div class="navi-dropdown" id="navi-dropdown">
    <a href="/">HOME</a>
    <a href="/news-index">NEWS</a>
    <a href="/students">STUDENTS</a>
    <!--a href="/stages">STAGES</a-->
    <!--a href="/about">ABOUT</a-->
</div>