<!DOCTYPE html>
<html>
    <head>
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta charset="utf-8">
        <meta property="og:title" content="HOME｜Blue Scripture" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="Blue Scripture" />
        <title>HOME｜Blue Scripture</title>
        <link rel="shortcut icon" href="/asset/favicon.ico">
        <link rel="stylesheet" href="./main.css">
        <link rel="stylesheet" href="/template/pallet.css">
        <link rel="stylesheet" href="/template/header.css">
        <link rel="stylesheet" href="/template/footer.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;500;700&display=swap');
        </style>
    </head>
    <body>
        </div>
        <header id="header">
        </header>
        <div class="body">
            <h1>HOME</h1>
        </div>
        <footer id="footer">
        </footer>
        <script src="./main.js"></script>
        <script src="/template/templateLoader.js"></script>
    </body>
</html>