html {
    --color-background-dark: #262628;
    --color-background-gray: #f5f5f7;
    --color-background-light: #ffffff;
    --color-background-blue: #1a4ea7; 
    --color-background-glass: rgba(255, 255, 255, 0.75);
    --color-text-dark: #1a1a1a;
    --color-text-gray: #888888;
    --color-text-light: #ffffff;
    --color-text-blue: #00d7fb;
    --color-category-mainstory-border: rgb(132, 104, 244);
    --color-category-mainstory-background: rgba(132, 104, 244, 0.75);
    --color-category-campaign-border: rgb(236, 78, 165);
    --color-category-campaign-background: rgba(236, 78, 165, 0.75);
    --color-category-pickup-border: rgb(0, 176, 253);
    --color-category-pickup-background: rgba(0, 176, 253, 0.75);
    --color-category-notice-border: rgb(46, 204, 113);
    --color-category-notice-background: rgba(46, 204, 113, 0.75);
    --color-category-guide-border: rgb(251, 197, 49);
    --color-category-guide-background: rgba(251, 197, 49, 0.75);
    --color-category-goods-border: rgb(230, 126, 34);
    --color-category-goods-background: rgba(230, 126, 34, 0.75);
    --color-category-other-border: rgb(9, 132, 227);
    --color-category-other-background: rgb(9, 132, 227, 0.75);
    --color-student-special: #1155cc;
    --color-student-striker: #cc4125;
    --color-student-params-red: #94090f;
    --color-student-params-yellow: #be890a;
    --color-student-params-blue: #1f6095;
    --color-student-params-gray: #171f26;
    --color-decoration-pink: #ff508e;
    --color-decoration-gray: #888888; 
    --color-decoration-lightgray: #c4c9ce;
    --color-decoration-blue: #1a4ea7;
    --color-decoration-aqua: #29a7ff;
    --color-decoration-green: #10d466;
    --color-decoration-red: #f43232;
    --color-shadow: rgba(0, 0, 0, 0.3);
}