# Artifacts generated in production environment
nohup.out
bluescripture

# JetBrains Fleet config location
.fleet/

# Common node modules locations
/node_modules

# JS files created by tsc
asset/js/*.js

# Location of files for which YoStar has rights
asset/images/background
asset/images/student_icon
asset/images/student_portrait